/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
.wrap{width:100%; height:auto;}
.center{width:90%; height:auto; max-width:1200px; margin:auto; position:relative;}
.clear:after{display:block; clear:both; content:'';}
/*--------------------------------------------------------------
--------------------------------------------------------------*/

/* top-header style  */
header{width:100%; height:auto; position:relative; background:#fff;}
header .top-header{width:100%; height:auto; border-bottom:1px solid #d3e6f8;}
header .info-header{float:right; width:50%;}
header .info-header li{float:right; width:20%; text-align:center;}
header .info-header li a{color:#1a6692; font-size:12px; display:block; padding:10px 0;}

/* logo style */
header .logo{text-align:center; font-size:25px; width:100px; float:left; padding:28px 0;}
header .logo a{color:#1a6692;}
header .logo a span{color:#1a6692;}

/* main navigation style */
header .gnb{width:60%; float:right; height:auto;}
header .gnb li{float:left; width:25%; text-align:center;}
header .gnb li a{color:#1a6692; font-weight:bold; display:block; transition:all 0.5s; padding:32.5px 0;}
header .gnb li:hover a{background:#709FBB; color:#fff;}

/* mobile menu style */
.menu_btn{width:30px; height:30px; right:35px; box-sizing:border-box; position:absolute; top:50%; transform:translateY(-50%); padding:4px; display:none;}
.menu_btn .menu_icon{width:100%; height:100%; position:relative; transition:all 0.5s;}
.menu_btn .menu_icon span:nth-child(1){width:100%; height:2px; background:#1a6692; position:absolute; top:50%; margin-top:-1px;}
.menu_btn .menu_icon span:nth-child(2){height:100%; width:2px; background:#1a6692; position:absolute; left:50%; margin-left:-1px;}
.menu_btn .menu_icon.rotate{transform:rotate(135deg);}

.login_btn{width:30px; height:30px; position:absolute; top:50%; transform:translateY(-50%); padding:4px; box-sizing:border-box; text-align:center; right:0; display:none;}
.login_btn .menu_icon{width:100%; height:100%; position:relative; transition:all 0.5s;}
.login_btn .fa{color:#1a6692; font-size:22px;}

/* footer style */
footer{text-align:center; width:100%; height:auto; margin-top:20px;}
footer .center{border-top:1px solid #1a6692;}
footer p{padding:60px 0; color:#4a4a4a; font-weight:300;}
footer p span{color:#f33f3f;}
/*******************************************************************************/
/*******************************************************************************/
/*******************************************************************************/


/* slider section style */
.main_section{width:100%; height:auto; _overflow:hidden; height:650px; position:relative;}
.slider {
  margin: 0 auto;
  max-width: 100%;
  height:100%;
}

.slider img{width:100%; animation:scale 10s 1;}

@keyframes scale{
  0%{transform:scale(1);}
  100%{transform:scale(1.1);}
}


.slide_viewer {
  overflow: hidden;
  position: relative;
  height:100%;
}

.slide_group {
  height: 100%;
  position: relative;
  width: 100%;
}

.slide {
  display: none;
  height: 100%;
  position: absolute;
  width: 100%;
}

.slide:first-child {
  display: block;
}

.directional_nav {
  height: 340px;
  margin: 0 auto;
  max-width: 100%;
}

.previous_btn {
  bottom: 0;
  left: 100px;
  margin: auto;
  position: absolute;
  top: 0;
}

.next_btn {
  bottom: 0;
  margin: auto;
  position: absolute;
  right: 100px;
  top: 0;
}

.previous_btn, .next_btn {
  cursor: pointer;
  height: 65px;
  opacity: 0.5;
  -webkit-transition: opacity 0.4s ease-in-out;
  -moz-transition: opacity 0.4s ease-in-out;
  -ms-transition: opacity 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
  width: 65px;
}

.previous_btn:hover, .next_btn:hover {
  opacity: 1;
}

@media only screen and (max-width: 767px) {
  .previous_btn {
    display:none;
  }
  .next_btn {
    display:none;
  }
}

.main_text{position:absolute; width:100%; height:auto; color:#fff; text-align:center; top:50%; animation:slide 1.8s 1; transform:translateY(-50%);}
.main_text p{font-size:25px; margin-bottom:10px; font-weight:bold;}
.main_text h1{font-size:45px; color:#1a6692;}
@keyframes slide{
  0%{transform:translateY(-60px); opacity:0;}
  100%{transform:translateY(-50%); opacity:1;}
}

/* latest section style */
.latest{width:100%; height:auto; padding:10px 0;}
.section_title .more{float:right; font-size:14px; font-weight:bold; padding-top:5px;}
.section_title .more a{color:#f33f3f;}

.latest .latest_items{width:100%; height:auto;}
.latest .item{width:30%; float:left; height:100%; border:1px solid #ededed; margin-left:5%;}
.latest .item:first-child{margin-left:0;}
.latest .item_pic{width:100%; height:auto; overflow:hidden;}
.latest .item_pic img{width:100%;}
.latest .item_txt{width:100%; height:auto; padding:20px;}
.latest .item_txt .txt_title{width:100%; height:auto; padding:20px 0;}
.latest .item_txt h3{float:left; color:#1a6692; font-size:20px;}
.latest .item_txt p{float:right; font-size:18px; font-weight:bold;}
.latest .item_txt em{display:block; font-style:normal; font-size:14px; font-weight:300; line-height:1.5; color:#4a4a4a;}
.latest .item_txt .star{width:100%; height:auto; padding:20px 0; text-align:center;}
.latest .item_txt .star span{color:#f33f3f; margin-left:10px;}
.latest .item_txt .star span:first-child{margin-left:0;}

/* about section style */
.about{width:100%; height:auto;}
.about .about_left{float:left; width:50%; margin-bottom:20px;}
.about .about_left h3{color:#1a6692; padding:0 20px 30px 0;}
.about .about_left em{font-style:normal; font-size:14px; color:#4a4a4a; font-weight:300; line-height:1.5;}

.about .about_right{float:right; width:50%; margin-bottom:20px;}
.about .about_right img{width:100%;}
.about .about_exp{width:100%; margin-top:30px; padding-left:20px;}
.about .about_exp li{list-style:square; margin-top:20px; font-size:14px; color:#4a4a4a; font-weight:300;}

.read_more{display:inline-block; padding:10px 20px; color:#fff; background:#709FBB; margin-top:30px;}
.about .center{border-bottom:1px solid #ddd;}

/* about purchase style */
.purchase{width:100%; height:auto; padding:40px 0;}
.purchase .purchase_box{padding:30px; background:#F4F7F9;}
.purchase .purchase_txt{float:left;}
.purchase .purchase_txt h3{color:#1a6697; margin-bottom:20px;}
.purchase .purchase_txt h3 span{color:#f33f3f;}
.purchase .purchase_txt em{font-style:normal; color:#4a4a4a; font-size:14px; font-weight:300;}
.purchase .read_more{float:right; margin-top:10px;}

/* sticky header style */
.stick.on{position:fixed; z-index:999; width:100%; background:#fff; top:0; box-shadow:0 1px 6px rgba(0, 0, 0, 0.2);}
header .stick.on .logo a{color:#1a6692;}
header .stick.on .gnb{width:60%; float:right; height:auto;}
header .stick.on .gnb li{float:left; width:25%; text-align:center;}
header .stick.on .gnb li a{color:#1a6692; font-weight:bold; display:block; padding:33px 0; transition:all 0.5s;}
header .stick.on .gnb li:hover a{background:#709FBB; color:#fff;}

header .stick.on .menu_btn .menu_icon span:nth-child(1){background:#121212;}
header .stick.on .menu_btn .menu_icon span:nth-child(2){background:#121212;}
header .stick.on .login_btn .fa{color:#1a6692;}
header .stick.on .admin_btn .fa{color:#1a6692;}


/************************************************************/
/********* sub page magin imge area common style ************/
/************************************************************/

.main_img{width:100%; height:500px; overflow:hidden; position:relative;}
.main_img img{width:100%; height:auto;}
.title{padding:20px 30px; text-align:center; font-size:30px; color:#4a4a4a; margin:auto; border-bottom:2px solid #81b4eb;}

.section_title{width:100%; height:auto; padding:20px 0; margin-top:35px; margin-bottom:30px;}
.section_title .title{float:left; font-size:30px; color:#1e1e1e;}

/************************************************************/
/********* sub page magin imge area common style ************/
/************************************************************/

/* join us page style */
.member_box{width:100%; padding:50px 0 0; text-align:center;}
.form_box{width:50%; margin:auto; padding:20px 0;}
.form_box .col{padding:10px 0;}
.form_box .col span{display:block; width:18%; float:left; padding:7px; background:#709FBB; color:#fff; font-size:15px; margin-right:2%;}
.form_box .col input{display:block; float:left; width:80%; padding:5px; box-sizing:border-box;}
.form_box .col_1 input{width:60%; float:left;}
.form_box .col_1 button{display:block; width:18%; float:left; padding:4px; background:#709FBB; color:#fff; font-size:15px; border:0; outline:0; margin-left:2%;}
.form_box .col_5 .email1{width:30%; float:left;}
.form_box .col_5 b{display:block; width:5%; float:left; padding-top:6px;}
.form_box .col_5 .email2{width:45%; float:left;}

.form{border-bottom:1px solid #ddd;}
.form_btns{width:100%; height:auto; margin-top:20px; text-align:center;}
.form_btns button{display:inline-block; border:0; outline:0; color:#fff; background:#709FBB; padding:10px 0; width:150px; cursor:pointer;}

/* login form page style */
.login_box{width:40%; height:auto; margin:auto; padding:50px 0;}
.login_form_box{padding:20px 0;}
.login_form_box p{width:100%; height:auto; padding:5px 0;}
.login_form_box p input{width:100%; padding:15px; outline:0;}

.login_btns{width:100%; height:auto; text-align:center; margin:5px 0 10px;}
.login_btns button{display:block; border:0; outline:0; color:#fff; width:49%; padding:10px 0; background:#709FBB; float:left; cursor:pointer;}
.login_btns button:nth-child(2){margin-left:2%;}

/* products page style */
.items{width:100%; height:auto; overflow:hidden; margin-top:20px;}
.items .item{float:left; width:25%; padding:5px; box-sizing:border-box; display:none;}
.items .item .item_box{_border:1px solid #81b4eb; box-sizing:border-box; padding:5px; text-align:center;}
.items .item .item_box img{width:100%;}
.items .item .item_txt{padding:20px 10px 5px;}
.items .item .item_txt h3{font-size:20px; margin:0 0 10px 0;}
.items .item .item_txt p{font-weight:bold; margin:0 0 10px 0; color:#1a6692;}
.items .item .item_txt em{font-style:normal; font-size:14px; font-weight:300; line-height:1.5; margin:0 0 10px 0; display:block;}
.items .item .item_txt .star{color:#f33f3f;}
.items .item .item_txt .details{margin:10px auto 0; display:block; border:0; outline:0; background:#E2ECF1; color:#1A6692; padding:10px 0; cursor:pointer; font-size:14px;}

.load_more, .fold{display:block; width:150px; padding:10px 0; background:#709FBB; color:#fff; font-size:14px; cursor:pointer; margin:0 auto 20px; border:0; outline:0; margin-top:20px;}
.fold{display:none;}

/* detail page style */
.detail_box{width:100%; height:auto;}
.detail_box>div{float:left; width:50%; box-sizing:border-box; padding:10px;}
.detail_box .detail_left img{width:100%;}
.detail_box .detail_right{box-sizing:border-box; padding-left:40px;}
.detail_box .detail_right p{font-weight:bold; color:#1a6692; margin-bottom:10px; font-size:25px;}
.detail_box .detail_right b{font-weight:normal; line-height:2; color:#4a4a4a;}
.detail_box .detail_right button{display:block; width:150px; padding:10px 0; background:#709FBB; margin:20px 0; color:#fff; font-size:14px; border:0; outline:0;}

/* gallery page style */
.gallery{width:100%; height:auto;}
.page_main{width:100%; height:auto; padding:10px 0;}
.gallery_item{width:20%; box-sizing:border-box; padding:5px;}

.gallery-size{width:20%;}
.gallery_item img{width:100%;}

.gallery_btns{width:100%; height:auto; text-align:center;}
.gallery_btns button{display:inline-block;}
.inner{display:none;}

/* img_upload page style */
.input_view{width:80%; margin:auto; height:auto;}

.upload_tit{text-align:center; margin:0 0 30px 0;}
.upload_tit label{display:inline-block; padding:0.5em 1.2em; color:#fff; background:#709FBB; vertical-align:middle; cursor:pointer; border:1px solid #ebebeb;}
.upload_tit #title{display:inline-block; padding:0.5em 0.7em; vertical-align:middle; background:#f5f5f5; border:1px solid #4a4a4a;}

.input_left{float:left; width:40%; padding:4px; position:relative;}
.input_right{float:right; width:40%; padding:4px; position:relative;}

.filebox{text-align:center; margin-bottom:20px;}
.filebox input[type="file"]{position:absolute; width:1px; height:1px; padding:0; margin:-1px; overflow:hidden; border:0;}
.filebox label{display:inline-block; padding:0.5em 0.7em; color:#fff; background:#709FBB; vertical-align:middle; cursor:pointer; border:1px solid #ebebeb;}
.filebox .upload_name{display:inline-block; padding:0.5em 0.7em; vertical-align:middle; background:#f5f5f5; border:1px solid #4a4a4a;}
.img_wrap1{width:100%; height:auto; padding:10px; border:1px solid #709FBB; overflow:hidden;}
.img_wrap1 img{width:100%;}
.upload_btn{width:150px; height:auto; padding:10px 20px; margin:20px auto; display:block; border:0; outline:0; color:#fff; background:#709FBB;}

/* Q&A(board_form) page style */
.board_box{width:100%; height:auto; overflow:hidden;}
.board_box .board_list{width:90%; margin:0 auto 20px;}
.board_box .board_list li{width:100%; height:auto; text-align:center; font-size:14px; border-bottom:1px solid #ededed;}
.board_box .board_list li span{display:block; float:left; padding:15px 0; color:#4a4a4a;}
.board_box .board_list li.board_title span{background:#709FBB; color:#fff; font-weight:bold;}
.board_box .board_list li span:nth-child(1){width:15%;}
.board_box .board_list li span:nth-child(2){width:50%;}
.board_box .board_list li span:nth-child(3){width:20%;}
.board_box .board_list li span:nth-child(4){width:15%;}

.board_box .board_list li span a{color:#111;}
.board_box .board_list li span b{cursor:pointer;}

.search_write{width:90%; height:auto; margin:0 auto 20px;}
.search_write .search{width:50%; height:auto; float:left;}
.search_write .search_form{width:100%; height:auto;}
.search_write .search_form select{width:15%; float:left; border:0; outline:0; padding:4.5px; border:1px solid #232323; box-sizing:border-box;-webkit-appearance: none; -webkit-border-radius:0; height:28px;}
.search_write .search_form{position:relative;}
.search_write .search_form:after{content:""; width:0; height:0; position:absolute; pointer-events: none;border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    top: .6em;
    left: 11%;
    border-top: 5px solid black;
    opacity: 0.5;}
.search_write .search_form input{width:35%; float:left; padding:5.5px; border:0; outline:0; box-sizing:border-box; border:1px solid #232323; margin-left:1%; height:28px;}
.search_write .search_form button{width:14%; padding:5px 0; border:0; outline:0; float:left; background:#709FBB; cursor:pointer; box-sizing:border-box; margin-left:1%;}
.search_write .search_form button i{color:#fff; font-size:18px;}

.search_write .write{width:50%; height:auto; float:left;}
.search_write .write .write_btn{width:150px; float:right; color:#fff; background:#709FBB; padding:5px 0; border:0; outline:0; cursor:pointer;}

.numbering{display:flex; justify-content:center; margin-bottom:20px;}
.numbering span{width:28px; height:28px; background:#fff; color:#4a4a4a; display:flex; justify-content:center; align-items:center; font-size:18px; cursor:pointer; margin:0 3px; box-sizing:border-box; border:1px solid #709FBB; color:#4a4a4a;}

.numbering span.active{color:#fff; background:#709FBB;}
.numbering span:first-child{color:#fff; background:#709FBB;}
.numbering span:last-child{color:#fff; background:#709FBB;}

/* board_input_form page style */
.board_form{width:60%; margin:auto; padding:20px 10px 10px;}
.board_form li{width:100%; height:auto; margin-bottom:10px;}
.board_form li span{float:left; display:block;}
.board_form li span.col1{width:29%; background:#709FBB; color:#fff; padding:10px; text-align:center;}
.board_form li span.col2{width:70%; float:right;}
.board_form li span.col2 input{width:100%; padding:10px; border:1px solid #212121;}
.board_form li span.col2 textarea{width:100%; height:200px; outline:0; border:1px solid #212121;}
.board_form li:nth-child(3) .col1{height:200px; display:flex; align-items:center; justify-content:center;}

.buttons{width:100%; height:auto; text-align:center; margin-bottom:20px;}
.buttons li{display:inline-block;}
.buttons li button{border:0; outline:0; color:#fff; background:#709FBB; padding: 10px 50px; cursor:pointer;}

/* admin page style */
.admin{width:100%; height:auto; margin-top:50px;}

.admin .tab_title{width:60%; height:auto; margin:auto;}
.admin .tab_title li{float:left; width:33.33%; background:#232323; color:#fff; padding:20px 0; text-align:center; border:1px solid #232323; cursor:pointer; transition:all 0.4s; box-sizing:border-box; border-right:1px solid #fff;}
.admin .tab_title li.active, .admin .tab_title li:hover{color:#000; background:#fff; border:1px solid #232323;}

.admin .admin_tab_box{width:100%; height:auto; position:relative;}
.admin .admin_tab_box.tab_box_3{}

.admin .member_list{width:100%; height:auto; margin-top:30px;}
.admin .list_title{width:100%; height:auto; border-top:2px solid #222; background:#eee; border-bottom:1px solid #e0e0e0;}
.admin .list_title span{float:left; padding:10px 0; display:block; text-align:center; color:#222; font-weight:bold; font-size:12px;}

.admin .list_cont{border-bottom:1px solid #e0e0e0;}
.admin .list_cont span{float:left; padding:10px 0; display:block; text-align:center; color:#222;  font-size:12px;}
.admin .list_cont input{width:70%; margin:auto; display:block; border:1px solid #ddd; padding:5px; text-align:center;}

.admin .member_list span.col1{width:10%;}
.admin .member_list span.col2{width:15%;}
.admin .member_list span.col3{width:10%;}
.admin .member_list span.col4{width:10%;}
.admin .member_list span.col5{width:10%;}
.admin .member_list span.col6{width:25%;}
.admin .member_list span.col7{width:10%;}
.admin .member_list span.col8{width:10%;}

.admin .member_list .list_cont span.col1,
.admin .member_list .list_cont span.col2,
.admin .member_list .list_cont span.col3,
.admin .member_list .list_cont span.col6{padding-top:18px;}

.admin .member_list .list_cont button{display:block; border:0; outline:0; width:40%; margin:auto; padding:5px 0; text-align:center; color:#fff; background:#232323; cursor:pointer;}

/* search box style */
.admin_search_form{width:100%; height:auto; margin:10px 0;}
.admin_search_form .admin_search_box{width:40%; float:left; border:1px solid #e0e0e0;}
.admin_search_form .admin_search_box select{width:20%; float:left; border:0; outline:0; padding:5px; border-right:1px solid #e0e0e0;}
.admin_search_form .admin_search_box input{width:60%; float:left; padding:5px; border:0; outline:0;}
.admin_search_form .admin_search_box b{display:block; width:19%; padding:5px 0; border:0; outline:0; float:right; background:#232323; cursor:pointer; border-left:1px solid #e0e0e0; text-align:center;}
.admin_search_form .admin_search_box b i{color:#fff; font-size:18px;}

.admin_btn_box{width:100%; height:auto;}
.admin_btn_box a{display:block; width:150px; padding:5px 0; background:#232323; color:#fff; text-align:center; margin:10px auto;}

/* admin product part style */
.panel_title{margin:30px auto;}
.admin_product_box{width:100%; height:auto;}
.admin_product_box li{ display:flex; align-items: center; width:100%; height:auto; }
.admin_product_box li.admin_product_title{border-top:2px solid #222; border-bottom:1px solid #e0e0e0; background:#eee;}
.admin_product_box li span{text-align:center; font-weight:normal; font-size:12px;}
.admin_product_box li.admin_product_title span{font-weight:bold; padding:10px 0;}
.admin_product_box li span.col1{width:5%;}
.admin_product_box li span.col2{width:5%;}
.admin_product_box li span.col3{width:15%;}
.admin_product_box li span.col4{width:10%;}
.admin_product_box li span.col5{width:25%;}
.admin_product_box li span.col6{width:30%;}
.admin_product_box li span.col7{width:10%;}

.admin_product_box li.admin_product_list span input{width:90%;display:block; padding:5px; margin:auto;}
.admin_product_box li.admin_product_list form{display:flex; align-items: center; width:100%; height:auto; }
.admin_product_box li.admin_product_list{border-bottom:1px solid #ddd;}
.admin_product_box li.admin_product_list span.col5{padding:5px;}
.admin_product_box li.admin_product_list span.col5 img{width:100%;}
.admin_product_box li.admin_product_list span.col6 textarea{width:90%;}
.admin_product_box li.admin_product_list span.col7 input{background:#232323; width:90%; display:block; margin:auto; padding:5px 0; color:#fff; border:0; outline:0; cursor:pointer;}

.product_name{width:20%; float:left; border:0; outline:0; padding:7px; border-right:1px solid #e0e0e0; text-align:center; font-style:normal; font-size:14px;}
.delete_btn{display:block; float:right; background:#232323; border:0; color:#fff; font-size:14px; margin-top:10px; padding:5px 15px; cursor:pointer;}

.choice_del{float:right;}

/* product input part style */
.product_input{display:flex; align-items: center;}
.product_input_title{width:100%; height:auto; border-top:2px solid #222; background:#eee; border-bottom:1px solid #e0e0e0;}
.product_input span{display:block; float:left; font-weight:bold; font-size:12px; padding:10px 0; text-align:center;}
.product_input span:nth-child(1){width:15%;}
.product_input span:nth-child(2){width:10%;}
.product_input span:nth-child(3){width:30%;}
.product_input span:nth-child(4){width:35%;}
.product_input span:nth-child(5){width:10%;}

.product_input_con{width:100%; height:auto; border-bottom:1px solid #e0e0e0;}
.product_input_con span input{width:90%; margin:auto; display:block; padding:5px;}
.product_input_con span textarea{width:90%; margin:auto;}

.product_input_btn{background:#232323!important; margin-top:10px; width:100%; padding:10px 0!important;}
.product_input_flexbox{width:90%; margin:auto;}
.product_input_wrap{border:1px solid #232323; width:90%; margin:auto;}
.product_upload_name{width:100%!important; margin:10px auto 0!important; }

.product_up{background:#232323; width:90%; display:block; margin:auto; padding:5px 0; color:#fff; border:0; outline:0; cursor:pointer;}

/* admin q&a tab style */
.admin_qna{width:100%; height:auto;}
.admin_qna .admin_qna_list{width:100%; height:auto; border-bottom:1px solid #e0e0e0; display:flex; align-items: center;}
.admin_qna .admin_qna_list.qna_title{background:#eee; border-top:2px solid #222;}
.admin_qna .admin_qna_list span{display:block; padding:10px 5px; line-height:1.5em; text-align:center; float:left; font-size:12px;}
.admin_qna .admin_qna_list span:nth-child(1){width:10%;}
.admin_qna .admin_qna_list span:nth-child(2){width:10%;}
.admin_qna .admin_qna_list span:nth-child(3){width:15%;}
.admin_qna .admin_qna_list span:nth-child(4){width:20%;}
.admin_qna .admin_qna_list span:nth-child(5){width:45%;}

.admin_qna_btn{width:100%; padding:15px 0;}
.admin_qna_btn button{border:0; outline:0; background:#232323; display:block; padding:10px 15px; color:#fff; margin:auto; cursor:pointer;}
